*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgba(208, 237, 185, 0.795);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.mainContainer{
    height: 100vh;
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.upperBody{
    background-color: black;
    color: white;
    border: 1px solid black;
    height: 8%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.container1{
    border-radius: 8px;
    height: 89%;
    width: 76%;
    max-width: 550px;
    border: 1px solid black;
    background-color: rgba(233, 230, 227, 0.922);
    font-size: 22px;
}

.container1 form{
    margin-top: 10%;
    margin-left: 10%;
}
.container1 form input{
    margin-left: 7px;
    margin-bottom: 15px;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 6px;
    outline: none;
}
.container1 form button{
    height: 38px;
    width: 90px;
    position: absolute;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    
}
#error_message{
    position: relative;
    top: -10px;
    left: 10px;
    font-size: 17px;
}
