<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/aboutUs.css">
</head>
<body>
    <div class="mainContainer">
        <div class="container1">
            <div class="upperBody"><p>About Us</p></div>
            <div class="lowerBody">
                <h3><b>Stay Organized, Stay Productive</b></h3><p>Welcome to <b>To-Do List</b>, your personal task manager designed to help you stay on top of your daily goals. Whether you're managing work projects, personal tasks, or long-term goals, our to-do list app keeps you organized, efficient, and stress-free.</p>
                <br><br>
                <h3><b>Our Mission</b></h3><p>We believe that productivity should be simple and enjoyable. Our mission is to help individuals and teams <b>stay focused, organized, and achieve more</b> without feeling overwhelmed.</p>
                <br><br>
                <h3><b>Join Us Today!</b></h3><p>Start organizing your life with this <b>To-Do List</b> and make every day more productive. Sign up now to get started!</p>
            </div>
            <div class="lastBody"><h1>Thank you for visit</h1></div>
        </div>
    </div>
</body>
</html>