<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div class="mainContainer">
        <div class="upperBody">
            <div class="container1">
               <div class="navbar">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#register">Register</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/aboutUs">About_Us</a></li>
                        </ul>
                    </nav>
               </div>
                <div class="firstLine">
                    <h4>Hii, Use this To-Do List to improve<br> your Skills.</h4>
                    <h4><br>Your productivity journey starts here!</h4>
                </div>
            </div>
        </div>
        <div class="btn">
            <a href="/register"><div id="register">Register</div></a>
            <a href="/login"><div id="login">Login</div></a>
        </div>
    </div>
</body>
</html>