<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Please login to see your tasks</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="mainContainer">
        <div class="container1">
            <div class="upperBody"><p>Welcome in Task Management</p></div>
            <form action="/login" method="POST">
                Username<input type="type" name="u_name" placeholder="Enter username" required><br><br> <br>
                Password<input type="password" name="password" placeholder="Enter password" required><br><br><br>
                <button>submit</button>
            </form>
        </div>
    </div>
</body>
</html>